In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

/home/pirl/anaconda3/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/pirl/anaconda3/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
ds_hmeq = pd.read_csv("실습파일/HMEQ.csv", engine="python")
ds_hmeq.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1700,30548,40320.0,HomeImp,Other,9.0,0,0.0,101.466002,1.0,8,37.113614
1,1,1800,28502,43034.0,HomeImp,Other,11.0,0,0.0,88.766030,0.0,8,36.884894
2,0,2300,102370,120953.0,HomeImp,Office,2.0,0,0.0,90.992533,0.0,13,31.588503
3,1,2400,34863,47471.0,HomeImp,Mgr,12.0,0,0.0,70.491080,1.0,21,38.263601
4,0,2400,98449,117195.0,HomeImp,Office,4.0,0,0.0,93.811775,0.0,13,29.681827

In [10]:
ds_numeric = ds_hmeq.select_dtypes(["int64","float64"])

In [11]:
np.random.seed(seed =1234)
from sklearn.model_selection import train_test_split


ds_hmeq_y = ds_numeric["BAD"]
ds_hmeq_x = ds_numeric.drop("BAD", axis = 1, inplace = False)

ds_hmeq_train_x, ds_hmeq_test_x, ds_hmeq_train_y, ds_hmeq_test_y =\
train_test_split(ds_hmeq_x, ds_hmeq_y, test_size=0.30, random_state = 1234)

In [12]:
naive_model = GaussianNB()
naive_model.fit(X = ds_hmeq_train_x, y = ds_hmeq_train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [13]:
naive_model.class_prior_.round(3)

array([0.908, 0.092])

In [14]:
print("Accuracy: {0: .3f}".format(naive_model.score(ds_hmeq_test_x,ds_hmeq_test_y)))

Accuracy:  0.910